body{
	font-family: monospace, arial, calibri;
	background-color: cornsilk;
}

div {
	border-radius: 5px;
}

div.topBar {
	width: 100%;
	padding: 0.2em;
	background-color: #70e1f3;
	display: inline-block;
}

div.clickable1 {
	float: right;
	width: auto;
	text-align:center;
	margin-right: 0.1em;
	color:#00007F;
	display: block;
	padding-right:5px;
	padding-left:5px;
	margin-right:5px;
	margin-left:5px;
  -webkit-transition: 0.3s;
	transition: 0.3s;
}


div.clickable1:hover {
	cursor: pointer;
	background-color: #00007F !important;
	color: #9ae5f5 !important;
}



div.menuBar{
	display: block;
	float:right;
	width:70%;
	height: 100%;
}

div.contentBox{
	border: 1px solid black;
	background-color: white;
	margin-bottom:5px;
	padding:10px;
}

span.title{
	font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
}

span.subTitle{
	font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: grey;
}

span.large{
	font-size: 1.5em !important;
	color: brown;
}